<div class="blog-grids">
    <div class="blog-grid-left">
        <a href="@Url.Action("Single","Home", new {id = 1})"><img src="~/Content/Images/6.jpg" class="img-responsive" alt="" /></a>
    </div>
    <div class="blog-grid-right">

        <h5><a href="@Url.Action("Single","Home", new {id = 1})">Pellentesque dui, non felis. Maecenas male</a> </h5>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="blog-grids">
    <div class="blog-grid-left">
        <a href="@Url.Action("Single","Home", new {id = 2})"><img src="~/Content/Images/7.jpg" class="img-responsive" alt="" /></a>
    </div>
    <div class="blog-grid-right">

        <h5><a href="@Url.Action("Single","Home", new {id = 2})">Pellentesque dui, non felis. Maecenas male</a> </h5>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="blog-grids">
    <div class="blog-grid-left">
        <a href="@Url.Action("Single","Home", new {id = 3})"><img src="~/Content/Images/11.jpg" class="img-responsive" alt="" /></a>
    </div>
    <div class="blog-grid-right">

        <h5><a href="@Url.Action("Single","Home", new {id = 3})">Pellentesque dui, non felis. Maecenas male</a> </h5>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="blog-grids">
    <div class="blog-grid-left">
        <a href="@Url.Action("Single","Home", new {id = 4})"><img src="~/Content/Images/9.jpg" class="img-responsive" alt="" /></a>
    </div>
    <div class="blog-grid-right">

        <h5><a href="@Url.Action("Single","Home", new {id = 4})">Pellentesque dui, non felis. Maecenas male</a> </h5>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="blog-grids">
    <div class="blog-grid-left">
        <a href="@Url.Action("Single","Home", new {id = 5})"><img src="~/Content/Images/10.jpg" class="img-responsive" alt="" /></a>
    </div>
    <div class="blog-grid-right">

        <h5><a href="@Url.Action("Single","Home", new {id = 5})">Pellentesque dui, non felis. Maecenas male</a> </h5>
    </div>
    <div class="clearfix"> </div>
</div>
