@model AspSite.BusinessLogic.Dto.UserDetailsDto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-9 technology-left">

<div class="business">

    <div>
           
        <hr />
        <dl class="dl-horizontal">


            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>



            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>


        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.UUID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
</div>