@model IEnumerable<AspSite.BusinessLogic.Dto.SingleDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-9 technology-left">
  
<div class="business">

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
        
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Header)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pictures)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
        
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Header)
                </td>
                <td>
                    <img class="img-responsive" alt="@item.Pictures.FirstOrDefault().Alt" src="/@item.Pictures.FirstOrDefault().Src"/>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>
        }

    </table>
</div>
</div>